In [2]:
import pandas as pd
import numpy as np
import psycopg2
import os

In [6]:
from var_func import *

# Loading Data

In [23]:
data_path = 'G:\My Drive\STIS\Skripsi\data\Input Output'

## Konsumsi Akhir

In [24]:
# konsumsi_akhir = pd.read_excel(
#     os.path.join(data_path, 'Databases2.xlsx'),
#     sheet_name = 'Konsumsi Akhir'
# )

In [25]:
# table_name = 'konsumsi_akhir_nasional'
# tuple_list = []

# sql = f'''
# INSERT INTO {table_name}
# VALUES (%s, %s, %s, %s, %s)
# '''

# for val in konsumsi_akhir.values:
#     tuple_list.append(tuple(val))

In [26]:
# conn = get_connection()
# cur = conn.cursor()

# cur.executemany(sql, tuple_list)

# conn.commit()
# cur.close()
# conn.close()

## Input Antara Nasional

In [10]:
data_path = 'G:\My Drive\STIS\Skripsi\data\Input Output'
data = pd.read_excel(
    os.path.join(data_path, 'Databases2.xlsx'),
    header = None,
    sheet_name = 'Input Antara Nasional'
)

data[0] = data[0].ffill()
data = data.transpose()
data[0] = data[0].ffill()
data = data.transpose()

column = pd.MultiIndex.from_arrays(data.iloc[0:2,2:].astype(str).to_numpy())
row = pd.MultiIndex.from_arrays(data.iloc[2:,0:2].transpose().to_numpy())
x = pd.DataFrame(
    data.iloc[2:,2:].to_numpy(),
    columns = column,
    index = row
)

c = x.reset_index().melt(id_vars = ['level_0', 'level_1']).astype({
    'level_0':str,
    'level_1':str,
    'variable_0':str,
    'variable_1':str,
    'value':float,
})

test = pd.read_excel(
    os.path.join(data_path, 'Databases2.xlsx'),\
    sheet_name = 'Test'
)

x = c.join(test.set_index('test'), on = 'level_0')[['Kode', 'level_1', 'variable_0', 'variable_1', 'value']].rename(columns = {
    'Kode':'Provinsi Penyedia',
    'level_1':'Industri Penyedia',
    'variable_0':'a',
    'variable_1':'Industri Pengguna',
    'value':'Nilai Juta'
}).join(test.set_index('test'), on = 'a')[['Provinsi Penyedia', 'Industri Penyedia', 'Kode', 'Industri Pengguna', 'Nilai Juta']].rename(columns = {
    'Kode':'Provinsi Pengguna'
}).sort_values(['Provinsi Penyedia', 'Industri Penyedia', 'Provinsi Pengguna', 'Industri Pengguna']).reset_index(drop = True).astype({
    'Provinsi Penyedia':str,
    'Industri Penyedia':str,
    'Provinsi Pengguna':str,
    'Industri Pengguna':str,
    'Nilai Juta':float
})

In [19]:
table_name = 'input_antara_nasional'
tuple_list = []

sql = f'''
INSERT INTO {table_name}
VALUES (%s, %s, %s, %s, %s)
'''

for val in x.values:
    tuple_list.append(tuple(val))

In [21]:
conn = get_connection()
cur = conn.cursor()

cur.executemany(sql, tuple_list)

conn.commit()
cur.close()
conn.close()

## Pendapatan

In [78]:
pendapatan = pd.read_excel(
    os.path.join(data_path, 'Database3.xlsx'),
    sheet_name = 'Pendapatan'
).sort_values(['Kode Pendapatan', 'Provinsi Pengguna', 'Industri Pengguna']).reset_index(drop = True)

In [79]:
pendapatan['Provinsi Pengguna'] = pendapatan.astype({'Provinsi Pengguna':str})['Provinsi Pengguna'].str.strip('.0')

In [80]:
table_name = 'pendapatan'
tuple_list = []

sql = f'''
INSERT INTO {table_name}
VALUES (%s, %s, %s, %s)
'''

for val in pendapatan.values:
    tuple_list.append(tuple(val))

In [81]:
try :
    conn = get_connection()
    cur = conn.cursor()

    cur.executemany(sql, tuple_list)

    conn.commit()
except Exception as e:
    print(e)
    cur.close()
    conn.close()

## Kode Provinsi

In [ ]:
kode_prov = pd.read_excel(
    os.path.join(data_path, 'Databases2.xlsx'),
    sheet_name = 'Kode Provinsi'
)
kode_pend = pd.read_excel(
    os.path.join(data_path, 'Databases2.xlsx'),
    sheet_name = 'Kode Pendapatan'
)
kode_ind = pd.read_excel(
    os.path.join(data_path, 'Databases2.xlsx'),
    sheet_name = 'Kode Industri'
)

# Inserting Data

In [19]:
data_path = 'G:\My Drive\STIS\Skripsi\data\Input Output\IRIO'

In [33]:
sheet_name = 'Kode Lapus'
table_name = 'kode_lapus'
tuple_list = []

data = pd.read_excel(
    os.path.join(data_path, f'{sheet_name}.xlsx')
)

sql = f'''
INSERT INTO {table_name}
VALUES (%s, %s)
'''

for val in data.values:
    tuple_list.append(tuple(val))

In [34]:
conn = get_connection()
cur = conn.cursor()

cur.executemany(sql, tuple_list)

conn.commit()
cur.close()
conn.close()